<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries
  
1. Introduction to Dictionaries
2. Creating Dictionaries
3. Accessing Dictionary Elements
4. Modifying Dictionary Elements
5. Dictionary Methods
6. Iterating Over Dictionaries
7. Nested Dictionaries
8. Dictionary Comprehensions
9. Practical Examples and Common Errors

## **Creating Dictionaries**

In [ ]:
empty_dict = {}
print(type(empty_dict))

empty_dict

<class 'dict'>

{}

In [ ]:
country_capitals = {
  "Germany": "Berlin",
  "Canada": "Ottawa",
  "England": "London"
}

print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}

In [ ]:
# Single key is always used
student={"name":"Krish","age":32,"name":24}
print(student)

{'name': 24, 'age': 32}

## **Accessing Dictionary Elements**

In [ ]:
student={'name':'Shreya','age':21,'grade':'A'}
print(student)

{'name': 'Shreya', 'age': 21, 'grade': 'A'}

In [ ]:
print(student['grade'])
print(student['age'])

# Acessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name','Not Available'))
print(f"Middle_name of {student.get('name')} is {student.get('Middle_name','Singh')}")

A
21
A
None
Not Available
Middle_name of Shreya is Singh

## **Modifying Dictionary Elements**

In [ ]:
student={'name':'Shreya','age':21,'grade':'A'}
print(student)

student['age']=22
print(student)

# Adding new elements to the existing dict
student['address']='Bihar'
print(student)

{'name': 'Shreya', 'age': 21, 'grade': 'A'}
{'name': 'Shreya', 'age': 22, 'grade': 'A'}
{'name': 'Shreya', 'age': 22, 'grade': 'A', 'address': 'Bihar'}

In [ ]:
# deleting any key-value pair
del student['grade']
print(student)

{'name': 'Shreya', 'age': 22, 'address': 'Bihar'}

## **Shallow copy**

In [ ]:
# shallow copy

student={'name':'Shreya','age':21,'grade':'A'}
print(student)

student_copy=student
print(student_copy)

{'name': 'Shreya', 'age': 21, 'grade': 'A'}
{'name': 'Shreya', 'age': 21, 'grade': 'A'}

In [ ]:
student['name']='milli'
print(student)
print(student_copy)

{'name': 'milli', 'age': 21, 'grade': 'A'}
{'name': 'milli', 'age': 21, 'grade': 'A'}

In [ ]:
student_copy1=student.copy()
print(student_copy1)
print(student)

{'name': 'milli', 'age': 21, 'grade': 'A'}
{'name': 'milli', 'age': 21, 'grade': 'A'}

In [ ]:
student['name']='Sheelu'
print(student_copy1)
print(student)

{'name': 'milli', 'age': 21, 'grade': 'A'}
{'name': 'Sheelu', 'age': 21, 'grade': 'A'}

## **Iterating Over Dictionaries**

In [ ]:
# You can use loops to iterate over dictionatries, keys,values,or items
# Iterating over keys

for keys in student.keys():
  print(keys)

name
age
grade

In [ ]:
# Iterate over values

for value in student.values():
  print(value)

Sheelu
21
A

In [ ]:
# Iterate over key value pairs

for key, value in student.items():
  print(f"{key}: {value}")

name: Sheelu
age: 21
grade: A

## **Nested Dictionaries**

In [ ]:
students = {
    'student1':{'name':'Shreya','age':22},
    'student2':{'name':'Sheelu','age':21}
}
print(students)

{'student1': {'name': 'Shreya', 'age': 22}, 'student2': {'name': 'Sheelu', 'age': 21}}

In [ ]:
# Access nested dictionaries elements
print(students['student2']['name'])
print(students['student2']['age'])

Sheelu
21

In [ ]:
students.items()

dict_items([('student1', {'name': 'Shreya', 'age': 22}), ('student2', {'name': 'Sheelu', 'age': 21})])

In [ ]:
# Iterating over nested dictionaries
for student_id,student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'Shreya', 'age': 22}
name:Shreya
age:22
student2:{'name': 'Sheelu', 'age': 21}
name:Sheelu
age:21

## **Dictionary Comprehensions**

In [ ]:
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
# Conditioanal dictionary comprehension
evens = {x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

## **Practical Examples**

In [ ]:
# USe a dictionary to count the frequency of elements in list

numbers = [1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
  if number in frequency:
    frequency[number]+=1
  else:
    frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
# Merge 2 dictionaries into one

dict1={'a':1,'b':2}
dict2={'b':3,'c':4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}