<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Functions in Python

1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

In [2]:
# Defining and calling Functions

def even_odd(num):
  if num%2==0:
    print('The number is even')
  else:
    print('The number is odd')


number = int(input("Enter the number: "))
even_odd(number)

Enter the number: 78
The number is even

In [4]:
def add(a,b):
  return a+b

number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
print(f"Sum of {number1} and {number2} is {add(number1,number2)}")

Enter the first number: 87
Enter the second number: 45
Sum of 87 and 45 is 132

In [5]:
# Default Parameters

def greet(name):
  print(f"Hello {name}! Welcome to the Paradise.")

greet("Shreya")

Hello Shreya! Welcome to the Paradise.

In [6]:
def greet(name='Guest'):
  print(f"Hello {name}! Welcome to the Paradise.")

greet("Milli")

Hello Milli! Welcome to the Paradise.

In [8]:
# Variable Length Arguments
# Positional and keywords arguments

def print_numbers(*Krish):
  for number in Krish:
    print(number)

print_numbers(1,2,3,4,5,6,7,8,'Krish')

1
2
3
4
5
6
7
8
Krish

In [9]:
# Positional Arguments

def print_numbers(*args):
  for number in args:
    print(number)

print_numbers(1,2,3,4,5,6,7,8,'Krish')

1
2
3
4
5
6
7
8
Krish

In [10]:
# Keywords Arguments

def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")

print_details(name='Milli',age='20',country='India')

name:Milli
age:20
country:India

In [11]:
def print_details(*args,**kwargs):
  for val in args:
    print(f"Positional argument: {val}")

  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [12]:
print_details(1,2,3,4,'Krish',name='Sheelu',age='12',country='India')

Positional argument: 1
Positional argument: 2
Positional argument: 3
Positional argument: 4
Positional argument: Krish
name:Sheelu
age:12
country:India

In [13]:
# Return Arguments

def multiply(a,b):
  return a*b

multiply(2,4)

8

In [14]:
# Return Multiple Arguments

def multiply(a,b):
  return a*b,a

multiply(2,4)

(8, 2)