<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Inbuild_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. Sum of List items**

In [3]:
def sum_list():
  numbers=list(map(int,input("Enter the numbers: ").split()))
  total=0
  for number in numbers:
    total+=number
  return total


print(f"Sum of whole list is: {sum_list()}")

Enter the numbers: 10 20 30 40
Sum of whole list is: 100

In [5]:
def sum_of_list(numbers):
  total=0
  for number in numbers:
    total+=number
  return total

numbers=list(map(int,input("Enter the numbers: ").split()))
print(f"Sum of whole list is: {sum_of_list(numbers)}")

Enter the numbers: 1 2 3 4 5 6
Sum of whole list is: 21

In [6]:
# In build function(sum)

def add_list_items(numbers):
  return sum(numbers)

numbers=list(map(int,input("Enter the numbers of list: ").split()))
print(f"Sum of list: {add_list_items(numbers)}")

Enter the numbers of list: 2 4 6 8 10
Sum of list: 30

## **2. Largest number from the list**

In [14]:
def find_largest(numbers):
    if not numbers:
        return None
    max_number=numbers[0]
    for number in numbers[1:]:
        if number>max_number:
            max_number=number
    return max_number

numbers=list(map(int,input("Enter the list of numbers: ").split()))
print(f"Largest element from the list: {find_largest(numbers)}")

Enter the list of numbers: 9 89 -23
Largest element from the list: 89

In [20]:
find_largest([2,3,4,5])

5

In [19]:
find_largest([-2,-56,-9,-1])

-1

In [18]:
find_largest([9])

9

In [17]:
find_largest([5,6,-9,6])

6

In [13]:
def Largest_element(numbers):
  return max(numbers)

numbers=[-2, -7, -4, -8]
max(numbers)

-2

## **3. Remove Duplicate from the list**

In [22]:
def remove_duplicates(numbers):
  unique_lst=[]
  for item in numbers:
    if item not in unique_lst:
      unique_lst.append(item)
  return unique_lst
  pass

remove_duplicates([9,5,7,-8,4,9,9,5,5])

[9, 5, 7, -8, 4]

In [21]:
def remove_duplicates(numbers):
  return list(set(numbers))

remove_duplicates([9,5,7,-8,4,9,9,5,5])

[4, 5, 7, 9, -8]

## **4. Check if all elements in a list are Unique**

In [23]:
def check_unique(numbers):
  return len(numbers)==len(set(numbers))

check_unique([1,2,3,4,4])

False

In [24]:
check_unique([1,2,3,4,5])

True

## **5. Program to reverse a list**

In [25]:
def reverse_list(numbers):
  return numbers[::-1]

reverse_list([1,2,3,4,5])

[5, 4, 3, 2, 1]

## **6. Count Number of Odd and Even Elements in a List**

In [27]:
def count_even_odd(lst):
    even_count=0
    odd_count=0
    for item in lst:
        if item%2==0:
            even_count+=1
        else:
            odd_count+=1
    return even_count,odd_count

even,odd = count_even_odd([1,2,3,4,5,6,7,8,9])
print(f"Even number count: {even}")
print(f"Odd number count: {odd}")

Even number count: 4
Odd number count: 5

## **7. Maximum difference between two consecutive elements in a list.**

In [30]:
def max_consecutive_difference(numbers):
    # Your code goes here
    if len(numbers)<2:
        return 0

    max_diff=0
    for item in range(1,len(numbers)):
        current_diff=abs(numbers[item]-numbers[item-1])
        if current_diff>max_diff:
            max_diff=current_diff
    return max_diff

numbers = [10, 11, 15, 3]
print(f"Maximum Consecutive difference from the list is {max_consecutive_difference(numbers)}")

Maximum Consecutive difference from the list is 12

## **8. Merge two Sorted List**

In [36]:
def merge_two_sorted_list(list1,list2):
  return (sorted(list1 + list2))

list1=[56,78,23,9,1]
list2=[23,98,64,12,34]
print(f"After merging two sorted list: {merge_two_sorted_list(list1,list2)}")

After merging two sorted list: [1, 9, 12, 23, 23, 34, 56, 64, 78, 98]

## **9. Rotate a list**

In [38]:
def rotate_list(lst, k):
    if not lst:
        return []

    k = k % len(lst)

    for _ in range(k):
        last_element = lst.pop()
        lst.insert(0,last_element)
    return lst
    pass

lst = [1,2,3,4,5,6]
print(f"List after rotation: {rotate_list(lst,2)}")

List after rotation: [5, 6, 1, 2, 3, 4]

## **10. Merge two list into dictionary**

In [42]:
def merge_list_to_dict (keys,values):
  return dict(zip(keys,values))

keys = ['a', 'b', 'c']
values = [1, 2, 3]
merge_list_to_dict(keys,values)

{'a': 1, 'b': 2, 'c': 3}

In [43]:
def merge_lists_to_dictionary(keys, values):
    # Your code goes here
    if len(keys) != len(values):
        return False

    total = {}
    for i in range(len(keys)):
        total[keys[i]] = values[i]
    return total
    pass

keys = ['a', 'b', 'c']
values = ['apple','banana','kiwi']
merge_lists_to_dictionary(keys,values)

{'a': 'apple', 'b': 'banana', 'c': 'kiwi'}

## **11. Merge Multiple Dictionaries**

In [50]:
# Method 1: Using the {**d1, **d2, **d3} unpacking syntax

def merge_multiple_dictionaries(dict1,dict2,dict3):
  merged = {**dict1,**dict2,**dict3}
  return merged
  pass

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'a': 'apple', 'b': 'banana', 'c': 'kiwi'}
dict3 = {'d': 'grapes', 'e': 'orange', 'f': 'straberry'}
merge_multiple_dictionaries(dict1,dict2,dict3)

{'a': 'apple',
 'b': 'banana',
 'c': 'kiwi',
 'd': 'grapes',
 'e': 'orange',
 'f': 'straberry'}

In [51]:
# Method 2: By using loop and dict.update()

def merge_multiple_dictionaries(dict1,dict2,dict3):
  merged = {}
  for d in (dict1,dict2,dict3):
    merged.update(d)
  return merged
  pass

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'a': 'apple', 'b': 'banana', 'c': 'kiwi'}
dict3 = {'d': 'grapes', 'e': 'orange', 'f': 'straberry'}
merge_multiple_dictionaries(dict1,dict2,dict3)

{'a': 'apple',
 'b': 'banana',
 'c': 'kiwi',
 'd': 'grapes',
 'e': 'orange',
 'f': 'straberry'}

In [47]:
def merge_three_dictionaries(dict1, dict2, dict3):
    # Your code goes here
    merged_dict = dict1.copy()

    for key,value in dict2.items():
        merged_dict[key] = value

    for key,value in dict3.items():
        merged_dict[key] = value

    return merged_dict
    pass

dict1 = {'x': 1, 'y': 2, 'z': 3}
dict2 = {'a': 'apple', 'b': 'banana', 'c': 'kiwi'}
dict3 = {'d': 'grapes', 'e': 'orange', 'f': 'straberry'}
merge_three_dictionaries(dict1,dict2,dict3)

{'x': 1,
 'y': 2,
 'z': 3,
 'a': 'apple',
 'b': 'banana',
 'c': 'kiwi',
 'd': 'grapes',
 'e': 'orange',
 'f': 'straberry'}

## **12. Words Frequency in a Sentence**

In [52]:
from collections import Counter
def word_frequency(sentence):
  word = sentence.lower().split()
  return Counter(word)
  pass

word_frequency("hello world hello")

Counter({'hello': 2, 'world': 1})

In [54]:
def count_word_frequency(sentence):
    word_count = {}
    words = sentence.split()

    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1

    return word_count

sentence =input("Enter the sentence: ")
count_word_frequency(sentence)

Enter the sentence: milli is not milli anymore

{'milli': 2, 'is': 1, 'not': 1, 'anymore': 1}

## **13. Palindromic Tuple: Check if Tuple is Palindromic**

In [61]:
def is_palindromic_tuple(tup):
    if tup==tup[::-1]:
      return True
    else:
      return False
    pass

is_palindromic_tuple((1,2,3,4,2,1))

False

In [62]:
def palindromic(tup):
  if tup==tup[::-1]:
      return True
  else:
      return False
  pass

tulip = tuple(map(int,input("Enter the tuple: ").split()))
palindromic(tulip)

Enter the tuple: 1 2 3 2 1

True

## **14. Merge Dictionaries with Common Keys**

In [2]:
from collections import Counter

def merge_dict_with_common_keys(*dicts):
  return sum(map(Counter,dicts), Counter())

d1 = {'a': 10, 'b': 20}
d2 = {'b': 5, 'c': 7}
d3 = {'a': 3, 'c': 4, 'd': 2}
merged = merge_dict_with_common_keys(d1, d2, d3)
print("Merged Dictionary:", dict(merged))

Merged Dictionary: {'a': 13, 'b': 25, 'c': 11, 'd': 2}

In [5]:
def merge_dicts_with_overlapping_keys(*dicts):
    result = {}
    for d in dicts:
        for key, value in d.items():
            if key in result:
                result[key] += value
            else:
                result[key] = value
    return result


d1 = {'a': 10, 'b': 20}
d2 = {'b': 5, 'c': 7}
d3 = {'a': 3, 'c': 4, 'd': 2}

result = merge_dicts_with_overlapping_keys(d1, d2, d3)
print("Merged Dictionary:", result)

Merged Dictionary: {'a': 13, 'b': 25, 'c': 11, 'd': 2}

## **15. Check if List is Subset of another List**

In [6]:
def is_subset_of(lst1,lst2):
  return set(lst1).issubset(set(lst2))

a=[1,2,3]
b=[1,2,3,4,5]

print(f"Is a subset of b: {is_subset_of(a,b)}")
print(f"Is b subset of a: {is_subset_of(b,a)}")

Is a subset of b: True
Is b subset of a: False

In [9]:
def is_subset(lst1, lst2):
    for element in lst1:
        found = False
        for item in lst2:
            if item == element:
                found = True
                break
        if not found:
            return False
    return True

a=[1,2,3,4,5,6]
b=[1,2,3,4,5]

print(f"Is a subset of b: {is_subset(a,b)}")
print(f"Is b subset of a: {is_subset(b,a)}")

Is a subset of b: False
Is b subset of a: True