<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Lambda_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lambda Functions in Python
Lambda functions are small anonymous functions defined using the **lambda** keyword. They can have any number of arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.

Syntax:

                    lambda arguments: expression

                    lambda arguments: value_if_true if condition else value_if_false

In [ ]:
# Adition of numbers by LAMBDA function

addition=lambda a,b:a+b
type(addition)

num1=int(input("Enter the 1st number: "))
num2=int(input("Enter the 2nd number: "))
print(addition(num1,num2))

Enter the 1st number: 5
Enter the 2nd number: 7
12

In [ ]:
# To find even and odd numbers

even=lambda num: "Even" if num%2==0 else "odd"

num=int(input("Enter the number: "))
print(even(num))

Enter the number: 9
odd

In [ ]:
# Addition of three numbers
add= lambda p,q,r:p+q+r

add(2,3,4)

9

In [ ]:
# map()- applies a function to all items in a list

numbers=[1,2,3,4,5,6,7,8,9]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]