<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/List_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#add elements to a python list
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)
fruits.append('cherry')
print('Updated List:', fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'orange', 'cherry']

In [2]:
#Add elements at the specified index
fruits = ['apple','banana', 'orange']
print("Original List=", fruits)
fruits.insert(2,'Cherry')
print("Updated List=",fruits)

Original List= ['apple', 'banana', 'orange']
Updated List= ['apple', 'banana', 'Cherry', 'orange']

In [3]:
#Add elements to a list from other iterables
numbers = [1,3,5]
print('numbers=',numbers)
even_numbers = [2,4,6]
print(even_numbers)
numbers.extend(even_numbers)
print("Updated numbers=",numbers)

numbers= [1, 3, 5]
[2, 4, 6]
Updated numbers= [1, 3, 5, 2, 4, 6]

In [5]:
#change List items
colors = ['Red', 'Black', 'Blue']
print("original_Lis=",colors)
colors[0] = 'Purple'
colors[2] = 'royal blue'
print('upated List=',colors)

original_Lis= ['Red', 'Black', 'Blue']
upated List= ['Purple', 'Black', 'royal blue']

In [7]:
#Remove an item from a list
numbers= [2,4,7,9]
print('Orininal List=',numbers)
numbers.remove(4)
print('Updated List=',numbers)

Orininal List= [2, 4, 7, 9]
Updated List= [2, 7, 9]

In [11]:
#Remove one or more elements of a list
names = ['John','Eva','Laura','Nick','jack']
print('Orininal List=',names)
del names[1]
print('Updated List=',names)
del names[1:3]
print('Updated List1=',names)
# delete entire ist
del names
print(names)

Orininal List= ['John', 'Eva', 'Laura', 'Nick', 'jack']
Updated List= ['John', 'Laura', 'Nick', 'jack']
Updated List1= ['John', 'jack']

NameError: name 'names' is not defined

In [12]:
#List length
cars = ['BMW','Mercedes','Tesla']
print("Total Elements=", len(cars))

Total Elements= 3

In [13]:
#Iterating through a list
fruits = ['apples','avacadro','dragon fruit']
for fruit in fruits:
  print(fruit)

apples
avacadro
dragon fruit