<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Modifying List Elements**

In [ ]:
fruits=['Banana', 'apple', 'pineapple', 'kiwi']
fruits

['Banana', 'apple', 'pineapple', 'kiwi']

In [ ]:
fruits[1] ="wattermelon"
fruits

['Banana', 'wattermelon', 'pineapple', 'kiwi']

# **List Methods**

### **1. List append()**

In [ ]:
#List append()
#append element in the list itself

car = ['Mercedes','Tesla','BMW']
car.append('Nissan')
car

['Mercedes', 'Tesla', 'BMW', 'Nissan']

In [ ]:
#Append another list to the main list

Drivers = ['Max Verstappen','Yuki Tsunoda']
Ferrari = ['Charles Leclerc','Lewis Hamilton']

Drivers.append(Ferrari)
print(Drivers)

['Max Verstappen', 'Yuki Tsunoda', ['Charles Leclerc', 'Lewis Hamilton']]

### **2. List extend():** This method adds all the items of the specified iterable, such as list, tuple, dictionary, or string , to the end of a list.

In [ ]:
languages = ['French', 'English']
languages1 = ['Spanish', 'Portuguese']

# append items of language1 to language
languages.extend(languages1)
print('Languages List:', languages)

Languages List: ['French', 'English', 'Spanish', 'Portuguese']

Add Items from Other Iterables

In [ ]:
languages = ['French']

languages_tuple = ('Spanish', 'Portuguese')

# add items of the tuple to the languages list
languages.extend(languages_tuple)
print(languages)

languages_set = {'Chinese', 'Japanese'}

# add items of the set to the languages list
languages.extend(languages_set)
print(languages)

['French', 'Spanish', 'Portuguese']
['French', 'Spanish', 'Portuguese', 'Chinese', 'Japanese']

Using '+' Operator: We can also extend a list using the + operator..

In [ ]:
a = [1, 2]
b = [3, 4]

a = a + b

print(a)

Name='Shreya '
Surname1='Singh '
Surname2='Bhardwaj'

Name=Name+ Surname1+ Surname2
print(Name)

[1, 2, 3, 4]
Shreya Singh Bhardwaj

In [ ]:
#Python extend() Vs append()

a1 = [1, 2]
a2 = [1, 2]
b = (3, 4)

# add items of b to the a1 list
a1.extend(b) #  [1, 2, 3, 4]
print(f"Extended Elements: {a1}")

# add b itself to the a1 list
a2.append(b)
print(f"List after append: {a2}")

Extended Elements: [1, 2, 3, 4]
List after append: [1, 2, (3, 4)]

### **3. List clear():** this method removes all the elements from the list.

In [ ]:
prime_numbers = [2, 3, 5, 7, 9, 11]

# remove all elements
prime_numbers.clear()

# Updated prime_numbers List
print('List after clear():', prime_numbers)

List after clear(): []

In [ ]:
list = [{1, 2}, ('a'), ['1.1', '2.2']]

# clearing the list
list.clear()

print('List:', list)

List: []

In [ ]:
# Defining a list
list = [{1, 2}, ('a'), ['1.1', '2.2']]

# clearing the list
del list[:]

print('List:', list)

List: []

### **4. List copy():** this method returns a shallow copy of the list.

In [ ]:
# mixed list
prime_numbers = [2, 3, 5]

# copying a list
numbers = prime_numbers.copy()

print('Copied List:', numbers)

Copied List: [2, 3, 5]

In [ ]:
#We can also use the = operator to copy a list.

old_list = [1, 2, 3]

# copy list using =
new_list = old_list

# add an element to list
new_list.append('a')

print('New List:', new_list)
print('Old List:', old_list)

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']

In [ ]:
# shallow copy using the slicing syntax

# mixed list
list = ['cat', 0, 6.7]

# copying a list using slicing
new_list = list[:]

# Adding an element to the new list
new_list.append('dog')

# Printing new and old list
print('Old List:', list)
print('New List:', new_list)

Old List: ['cat', 0, 6.7]
New List: ['cat', 0, 6.7, 'dog']

### **5. List count():** this method returns the number of times the specified element appears in the list.

In [ ]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# count element 'i'
count = vowels.count('i')
print('The count of i is:', count)

# count element 'p'
count = vowels.count('p')
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

In [ ]:
# random list
random = ['a', ('a', 'b'), ('a', 'b'), [3, 4]]

# count element ('a', 'b')
count = random.count(('a', 'b'))
print("The count of ('a', 'b') is:", count)

# count element [3, 4]
count = random.count([3, 4])
print("The count of [3, 4] is:", count)

The count of ('a', 'b') is: 2
The count of [3, 4] is: 1

### **6. List index():** This method returns the index of the specified element in the list.

In [ ]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)

# index of first 'i'
index = vowels.index('i')
print('The index of i:', index)

The index of e: 1
The index of i: 2

In [ ]:
#Working of index() With Start and End Parameters

# alphabets list
alphabets = ['a', 'e', 'i', 'o', 'g', 'l', 'i', 'u']

# index of 'i' in alphabets
index = alphabets.index('e')   # 1
print('The index of e:', index)

# 'i' after the 4th index is searched
index = alphabets.index('i', 4)   # 6
print('The index of i:', index)

# 'i' between 3rd and 5th index is searched
index = alphabets.index('i', 3, 5)
print('The index of i:', index)

The index of e: 1
The index of i: 6

ValueError: 'i' is not in list

### **7. List insert():** This method inserts an element to the list at the specified index.

In [ ]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7]

# insert 11 at index 4
prime_numbers.insert(4, 11)

print('List:', prime_numbers)

List: [2, 3, 5, 7, 11]

In [ ]:
#Inserting a Tuple (as an Element) to the List

mixed_list = [{1, 2}, [5, 6, 7]]
print(f"List: {mixed_list}")

# number tuple
number_tuple = (3, 4)

# inserting a tuple to the list
mixed_list.insert(1, number_tuple)

print('Updated List:', mixed_list)

List: [{1, 2}, [5, 6, 7]]
Updated List: [{1, 2}, (3, 4), [5, 6, 7]]

### **8. List pop():** This list method removes the item at the specified index. The method also returns the removed item.

In [ ]:
# Pop item at the given index from the list

# programming languages list
languages = ['Python', 'Java', 'C++', 'French', 'C']

# remove and return the 4th item
return_value = languages.pop(3)
print('Return Value:', return_value)

# Updated List
print('Updated List:', languages)

Return Value: French
Updated List: ['Python', 'Java', 'C++', 'C']

In [ ]:
# pop() without an index, and for negative indices

# programming languages list
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']

# remove and return the last item
print('When index is not passed:')
print('Return Value:', languages.pop())
print('Updated List:', languages)

# remove and return the last item
print('\nWhen -1 is passed:')
print('Return Value:', languages.pop(-1))
print('Updated List:', languages)

# remove and return the third last item
print('\nWhen -3 is passed:')
print('Return Value:', languages.pop(-3))
print('Updated List:', languages)

When index is not passed:
Return Value: C
Updated List: ['Python', 'Java', 'C++', 'Ruby']

When -1 is passed:
Return Value: Ruby
Updated List: ['Python', 'Java', 'C++']

When -3 is passed:
Return Value: Python
Updated List: ['Java', 'C++']

### **9. List remove():** This method removes the first matching element (which is passed as an argument) from the list.

In [ ]:
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# 'rabbit' is removed
animals.remove('rabbit')
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig']

In [ ]:
# remove() method on a list having duplicate elements

# animals list
animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']

# 'dog' is removed
animals.remove('dog')
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig', 'dog']

In [ ]:
# Deleting element that doesn't exist

# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# Deleting 'fish' element
animals.remove('fish')
print('Updated animals list: ', animals)

ValueError: list.remove(x): x not in list

### 10. **List reverse():** This list method reverses the elements of the list.

In [ ]:
# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# List Reverse
systems.reverse()

# updated list
print('Updated List:', systems)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [ ]:
# Reverse a List Using Slicing Operator

# Operating System List
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)

# Reversing a list
# Syntax: reversed_list = systems[start:stop:step]
reversed_list = systems[::-1]
print('Updated List:', reversed_list)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [ ]:
# Accessing Elements in Reversed Order

# Operating System List
systems = ['Windows', 'macOS', 'Linux']

# Printing Elements in Reversed Order
for o in reversed(systems):
    print(o)

Linux
macOS
Windows

### **11. List sort():** This list method sorts the elements of a list.

In [ ]:
prime_numbers = [11, 3, 7, 5, 2]

# sort the list in ascending order
prime_numbers.sort()
print(f"Sorted List: {prime_numbers}")

Sorted List: [2, 3, 5, 7, 11]

In [ ]:
# Sort in Descending order

numbers = [7, 3, 11, 2, 5]

# reverse is set to True
numbers.sort(reverse = True)
print(f"Sorted List: {numbers}")

Sorted List: [11, 7, 5, 3, 2]

In [ ]:
# Sort a List of Strings

cities = ["Tokyo", "London", "Washington D.C"]

# sort in dictionary order
cities.sort()
print(f"Dictionary order: {cities}")

# sort in reverse dictionary order
cities.sort(reverse = True)
print(f"Reverse dictionary order: {cities}")

Dictionary order: ['London', 'Tokyo', 'Washington D.C']
Reverse dictionary order: ['Washington D.C', 'Tokyo', 'London']

In [ ]:
# Reverse Strings Based on Length

text = ["abc", "wxyz", "gh", "a"]

# stort strings based on their length
text.sort(key = len)
print(text)

['a', 'gh', 'abc', 'wxyz']

# **Slicing**

In [ ]:
# Slicing List

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Slicing of numbers with some jump

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[::3]
print(f"Numbers after 3 jump: {numbers}")

numbers[::-2]

Numbers after 3 jump: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 8, 6, 4, 2]

# **Iteration over List**

In [ ]:
# Iterating over List

for number in numbers:
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Iterating with index

for index,number in enumerate(numbers):
  print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

# **List Comprehensions**

* Basics Syntax [expression for item in iterable]

* with conditional logic [expression for item in iterable if condition]

* Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
# List comprehension

lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# In one line code

[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
square=[num**2 for num in range(8)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49]

In [ ]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [ ]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

# **Nested List**

In [ ]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

# **Practical Examples and Common Error**

In [ ]:
# Write a program to count length of each word from the list
# List comprehension with function calls
words=['hello','world','python','list','comprehension']
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]