<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **For Loop**

In [1]:
for i in range(5):
  print (i)

0
1
2
3
4

In [2]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [5]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [6]:
str = "Shreya Bhardwaj"

for i in str:
  print(i)

S
h
r
e
y
a

B
h
a
r
d
w
a
j

# **While loop**

In [8]:
#It executes as long as the condition is True
count =0
name = "Sheelu"

while count<5:
  print(name)
  count+=1

Sheelu
Sheelu
Sheelu
Sheelu
Sheelu

# **Loop Control Statements**

**Break Statement:** breaks or terminates the whole loop when condition fullfills.

In [10]:
#Break Statement
statement = "I Love Python"
for i in range(10):
  if i==5:
    break
  print(statement)

I Love Python
I Love Python
I Love Python
I Love Python
I Love Python

**Continue Statement:** it use to terminate current statement.

In [11]:
#Continue statement
for i in range(10):
  if i%2 !=0:
    continue
  print(i)

0
2
4
6
8

Pass Statement:
*   It is a null operation; it does nothing.
*   we use it in empty function to not get error.
*   if use comment pass statement or remove it, it may give error.
*   It is not necessary to use it.

In [12]:
for i in range(5):
  if i!=3:
    pass
  print(i)

0
1
2
3
4

# **Nested Loops**

In [14]:
for i in range(5):
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1
i:3 and j:0
i:3 and j:1
i:4 and j:0
i:4 and j:1

# **Practical Examples**

In [1]:
#Calculate the sum of first N natural numbers using a while loop and for loop
#while loop

n =int(input("Enter the number = "))
sum =0
count =1

while count<=n:
  sum+=count
  count+=1
print(f"Sum of first {n} numbers is: {sum}")

Enter the number = 10
Sum of first 10 numbers is: 55

In [3]:
#for loop
n =int(input("Enter the number = "))
sum =0

for i in range (n+1):
  sum+=i
print(f"Sum of first {n} numbers is: {sum}")

Enter the number = 10
Sum of first 10 numbers is: 55

In [9]:
#To find Prime numbers
num=int(input("Enter the number to find prime: "))

if num>1:
  for i in range(2,num):
    if (num%i) == 0:
      print(f"{num} is not a prime number..")
      break
  else:
      print(f"{num} is a prime number..")
else:
  print(f"{num} is not a prime number")

Enter the number to find prime: 47
47 is a prime number..

In [4]:
#Prime Number between two numbers
num1=int(input("Enter the starting Number: "))
num2=int(input("Enter the Last Number: "))

for num in range(num1,num2+1):
  if num>1:
    for i in range(num1+1,num):
      if num%i==0:
        break
    else:
      print(num)

Enter the starting Number: 1
Enter the Last Number: 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47