<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Maths_Ques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. Sum of N Even Natural Numbers**

In [6]:
def sum_of_even_numbers(n):
    total_sum=0
    current_even_number = 2
    for i in range(n):
        total_sum+=current_even_number
        current_even_number+=2
    return total_sum

number = int(input(f"Enter the number: "))
sum_of_even_numbers(number)

Enter the number: 5

30

In [7]:
def sum_even_natural(n):
    return sum(range(2, 2 * n + 1, 2))

number = int(input(f"Enter the number: "))
sum_even_natural(number)

Enter the number: 10

110

## **2. Check for Even Number**

In [8]:
def is_even(n):
    if n%2==0:
        return True
    else:
        return False

is_even(54)

True

## **3. Check for Prime Number**

In [14]:
def is_prime(n):
  if n<=1:
    return False

  flag = True
  for i in range(2,n):
    if n%i==0:
      flag = False
      break
  return flag

is_prime(17)

True

## **4. Valid Perfect Square**

In [2]:
def perfect_square(num):
  if num<1:
    return False
  i=1
  while i*i <= num:
    if i*i==num:
      return True
    i+=1
  return False

perfect_square(63)

False

In [12]:
import math
def is_perfect_square(n):
  if n<0:
    return False
  return math.sqrt(n).is_integer()

is_perfect_square(4)

True

## **5. Decimal to binary**

In [3]:
def decimal_to_binary(n):
    return bin(n)[2:]  # Remove '0b' prefix
decimal_to_binary(2)

'10'

In [6]:
def convert_decimal_to_binary(n):
    binary = ""
    if n == 0:
        return "0"
    while n > 0:
        binary = str(n % 2) + binary
        n = n // 2
    return binary

convert_decimal_to_binary(10)

'1010'

In [2]:
def int_to_binary(n):
    if n == 0:
        return "0"

    is_negative = n < 0
    n = abs(n)

    binary = ""
    while n > 0:
        binary = str(n % 2) + binary
        n = n // 2

    if is_negative:
        return "-" + binary
    return binary

int_to_binary(-10)

'-1010'

## **6. Binary to Decimal**

In [10]:
def binary_decimal(binary_str):
  return int(binary_str, 2)

binary_decimal("101")

5

In [12]:

def binary_to_decimal(binary_str):
    decimal_value = 0
    length = len(binary_str)

    # Iterate over each character in the binary string
    for i in range(length):
      digit = binary_str[length - 1 - i]
      if digit == '1':
        decimal_value += 2 ** i
    return decimal_value

binary_to_decimal("-1010")

10

In [13]:
def binary_to_decimal(binary_str):
    decimal = 0
    power = 0

    # Handle negative sign
    is_negative = False
    if binary_str.startswith("-"):
        is_negative = True
        binary_str = binary_str[1:]

    # Read binary from right to left
    for digit in reversed(binary_str):
        decimal += int(digit) * (2 ** power)
        power += 1

    return -decimal if is_negative else decimal

binary_to_decimal("-1010")

-10

## **7. GCD(Greatest Common Divisor) of Two Numbers**

In [14]:
import math

def find_gcd(a,b):
  return math.gcd(a,b)

find_gcd(12,18)

6

In [ ]:
def gcd(a,b):
  while b != 0:
    a, b = b, a % b
  return a

gcd(100,80)