<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Set_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Build-in functions**

1. all():	Returns True if all elements of the set are true (or if the set is empty).
2. any():	Returns True if any element of the set is true. If the set is empty, returns False.
3. enumerate():	Returns an enumerate object. It contains the index and value for all the items of the set as a pair.
4. len():	Returns the length (the number of items) in the set.
5. max():	Returns the largest item in the set.
6. min():	Returns the smallest item in the set.
7. sorted():	Returns a new sorted list from elements in the set(does not sort the set itself).
8. sum()	Returns the sum of all elements in the set.

### **1. all()**

In [3]:
# all values true
l = [1, 3, 4, 5]
print(all(l))

# all values false
l = [0, False]
print(all(l))

# one false value
l = [1, 3, 4, 0]
print(all(l))

# one true value
l = [0, False, 5]
print(all(l))

# empty iterable
l = []
print(all(l))

True
False
False
False
True

In [2]:
# How all() works for strings?

s = "This is good"
print(all(s))

# 0 is False
# '0' is True
s = '000'
print(all(s))

s = ''
print(all(s))

True
True
True

In [1]:
s = {0: 'False', 1: 'False'}
print(all(s))

s = {1: 'True', 2: 'True'}
print(all(s))

s = {1: 'True', False: 0}
print(all(s))

s = {}
print(all(s))

# 0 is False
# '0' is True
s = {'0': 'True'}
print(all(s))

False
True
False
True
True

### **2. any()**

In [6]:
# True since 1,3 and 4 (at least one) is true
l = [1, 3, 4, 0]
print(any(l))

# False since both are False
l = [0, False]
print(any(l))

# True since 5 is true
l = [0, False, 5]
print(any(l))

# False since iterable is empty
l = []
print(any(l))

True
False
True
False

In [5]:
# At east one (in fact all) elements are True
s = "This is good"
print(any(s))

# 0 is False
# '0' is True since its a string character
s = '000'
print(any(s))

# False since empty iterable
s = ''
print(any(s))

True
True
False

In [4]:
# 0 is False
d = {0: 'False'}
print(any(d))

# 1 is True
d = {0: 'False', 1: 'True'}
print(any(d))

# 0 and False are false
d = {0: 'False', False: 0}
print(any(d))

# iterable is empty
d = {}
print(any(d))

# 0 is False
# '0' is True
d = {'0': 'False'}
print(any(d))

False
True
False
False
True

### **3. enumerate()**

In [7]:
languages = ['Python', 'Java', 'JavaScript']

# enumerate the list
enumerated_languages = enumerate(languages)

# convert enumerate object to list
print(list(enumerated_languages))

[(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

In [8]:
grocery = ['bread', 'milk', 'butter']

# enumerate the list
enumerateGrocery = enumerate(grocery)

print(list(enumerateGrocery))

# set default counter to 10
enumerateGrocery = enumerate(grocery, 10)

print(list(enumerateGrocery))

[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [9]:
grocery = ['bread', 'milk', 'butter']

for item in enumerate(grocery):
  print(item)

print()

# loop over an enumerate object
for count, item in enumerate(grocery):
  print(count, item)

print()

# change the default counter and loop
for count, item in enumerate(grocery, 100):
  print(count, item)

(0, 'bread')
(1, 'milk')
(2, 'butter')

0 bread
1 milk
2 butter

100 bread
101 milk
102 butter

In [10]:
#Access the Next Element

grocery = ['bread', 'milk', 'butter']

enumerateGrocery = enumerate(grocery)

# accessing the next element
next_element = next(enumerateGrocery)

print(f"Next Element: {next_element}")

Next Element: (0, 'bread')

### **4. len()**

In [1]:
text = 'Python'
print(len(text))

person = {"name": 'Amanda', "age": 21}
print(len(person))

animals = {'tiger', 'lion', 'tiger', 'cat'}
print(len(animals))

6
2
3

In [2]:
#len() with User-defined Object

class Session:
    def __init__(self, number = 0):
      self.number = number

    def __len__(self):
      return self.number


# default length is 0
session1 = Session()
print(len(session1))

session2 = Session(6)
print(len(session2))

0
6

### **5. max()**

In [3]:
# max() with iterable arguments

languages = ["Python", "C Programming", "Java", "JavaScript"]
largest_string = max(languages);

print("The largest string is:", largest_string)

The largest string is: Python

In [7]:
# max() in dictionaries

square = {2: 4, -3: 9, -1: 1, -2: 4}

# the largest key
key1 = max(square)
print("The largest key:", key1)

# the key whose value is the largest
key2 = max(square, key = lambda k: square[k])

print("The key with the largest value:", key2)

# getting the largest value
print("The largest value:", square[key2])

The largest key: 2
The key with the largest value: -3
The largest value: 9

In [5]:
# max() without iterable

# find max among the arguments
result = max(4, -5, 23, 5)
print("The maximum number is:", result)

The maximum number is: 23

### **6. min()**

In [6]:
# min() with iterable arguments

languages = ["Python", "C Programming", "Java", "JavaScript"]
smallest_string = min(languages);

print("The smallest string is:", smallest_string)

The smallest string is: C Programming

In [8]:
# min() in dictionaries

square = {2: 4, -3: 9, -1: 1, -2: 4}

# the smallest key
key1 = min(square)
print("The smallest key:", key1)

# the key whose value is the smallest
key2 = min(square, key = lambda k: square[k])

print("The key with the smallest value:", key2)

# getting the smallest value
print("The smallest value:", square[key2])

The smallest key: -3
The key with the smallest value: -1
The smallest value: 1

In [9]:
# min() without iterable

# find min among the arguments
result = min(4, -5, 23, 5)
print("The minimum number is:", result)

The minimum number is: -5

### **7. sorted()**

In [13]:
#Sort a List in Ascending Order

# list of vowels in random order
vowels_list = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
print('Sorted Vowels:', sorted(vowels_list))

Sorted Vowels: ['a', 'e', 'i', 'o', 'u']

In [12]:
#Sort in Descending Order

numbers = [2, 7, 3, 9, 13, 11]

# sorting the numbers in descending order
sorted_numbers = sorted(numbers, reverse=True)

print(sorted_numbers)

[13, 11, 9, 7, 3, 2]

In [10]:
# Sorting With the Key Function

fruits = ['apple', 'banana', 'kiwi', 'pomegranate']

# sorts the list based on the length of each string
sorted_fruits = sorted(fruits, key=len)

print('Sorted list:', sorted_fruits)

# Output: Sorted list: ['kiwi', 'apple', 'banana', 'pomegranate']

Sorted list: ['kiwi', 'apple', 'banana', 'pomegranate']

### **8. sum()**

* sum() Syntax
The syntax of the sum() function is:

             sum(iterable, start)

* The sum() function adds start and items of the given iterable from left to right.

In [14]:
numbers = [2.5, 3, 4, -5]

# start parameter is not provided
numbers_sum = sum(numbers)
print(numbers_sum)

# start = 10
numbers_sum = sum(numbers, 10)
print(numbers_sum)

4.5
14.5