<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Set_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Set methods**

1. **add():**	Adds an element to the set
2. **clear():**	Removes all elements from the set
3. **copy**():	Returns a copy of the set
4. **difference**():	Returns the difference of two or more sets as a new set
5. **difference_update():**	Removes all elements of another set from this set
6. **discard():**	Removes an element from the set if it is a member. (Do nothing if the element is not in set)
7. **intersection():**	Returns the intersection of two sets as a new set
8. **intersection_update():**	Updates the set with the intersection of itself and another
9. **isdisjoint():**	Returns True if two sets have a null intersection
10. **issubset():**	Returns True if another set contains this set
11. **issuperset():**	Returns True if this set contains another set
12. **pop():**	Removes and returns an arbitrary set element. Raises KeyError if the set is empty
13. **remove():**	Removes an element from the set. If the element is not a member, raises a KeyError
14. **symmetric_difference():**	Returns the symmetric difference of two sets as a new set
15. **symmetric_difference_update():**	Updates a set with the symmetric difference of itself and another
16. **union():**	Returns the union of sets in a new set
17. **update():**	Updates the set with the union of itself and others

### **frozenset()**

* Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

* Due to this, frozen sets can be used as keys in Dictionary or as elements of another set. But like sets, it is not ordered (the elements can be set at any index).

* The syntax of frozenset() function is:

            frozenset([iterable])

In [1]:
# tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'u')

fSet = frozenset(vowels)
print('The frozen set is:', fSet)
print('The empty frozen set is:', frozenset())

# frozensets are immutable
fSet.add('v')

The frozen set is: frozenset({'o', 'e', 'i', 'a', 'u'})
The empty frozen set is: frozenset()

AttributeError: 'frozenset' object has no attribute 'add'

In [2]:
# random dictionary
person = {"name": "John", "age": 23, "sex": "male"}

fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'sex', 'name', 'age'})

In [3]:
# Frozensets
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

# copying a frozenset
C = A.copy()
print(C)

# union
print(A.union(B))

# intersection
print(A.intersection(B))

# difference
print(A.difference(B))

# symmetric_difference
print(A.symmetric_difference(B))

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

In [4]:
# Frozensets
# initialize A, B and C
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
C = frozenset([5, 6])

# isdisjoint() method
print(A.isdisjoint(C))

# issubset() method
print(C.issubset(B))

# issuperset() method
print(B.issuperset(C))

True
True
True

### **1. add() method**

In [5]:
numbers = {1, 2, 3, 4}
new_numbers = numbers

print('numbers: ', numbers)

# add 5 to the copied set
new_numbers.add(5)

print('new_numbers: ', new_numbers)

numbers:  {1, 2, 3, 4}
new_numbers:  {1, 2, 3, 4, 5}

In [94]:
# set of vowels
vowels = {'a', 'e', 'u'}

# a tuple ('i', 'o')
tup = ('i', 'o')

# adding tuple
vowels.add(tup)
print('Vowels are:', vowels)

# adding same tuple again
vowels.add(tup)
print('Vowels are:', vowels)

Vowels are: {'u', 'a', 'e', ('i', 'o')}
Vowels are: {'u', 'a', 'e', ('i', 'o')}

### **2. clear() method**

In [95]:
# set of vowels
vowels = {'a', 'e', 'i', 'o', 'u'}
print('Vowels (before clear):', vowels)

# clear vowels
vowels.clear()

print('Vowels (after clear):', vowels)

Vowels (before clear): {'e', 'o', 'i', 'a', 'u'}
Vowels (after clear): set()

In [96]:
# set of strings
names = {'John', 'Mary', 'Charlie'}
print('Strings (before clear):', names)

# clear strings
names.clear()
print('Strings (after clear):', names)

Strings (before clear): {'Mary', 'John', 'Charlie'}
Strings (after clear): set()

### **3. copy() method**

In [97]:
names = {"John", "Charlie", "Marie"}

# items of names are copied to new_names
new_names = names.copy()

print('Original Names: ', names)
print('Copied Names: ', new_names)

Original Names:  {'Marie', 'John', 'Charlie'}
Copied Names:  {'Marie', 'John', 'Charlie'}

In [98]:
# Copy Set using = operator

names = {"John", "Charlie", "Marie"}

# copy set using = operator
new_names = names

print('Original Names: ', names)
print('Copied Names: ', new_names)

Original Names:  {'Marie', 'John', 'Charlie'}
Copied Names:  {'Marie', 'John', 'Charlie'}

###  **4. difference() method**

In [99]:
# 4. difference() method

A={1,2,3,4,5}
B={2,4,6,8}

# difference using difference()
print(f"Difference of A and B: {A.difference(B)}")

Difference of A and B: {1, 3, 5}

In [100]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}

# equivalent to A-B
print(A.difference(B))

# equivalent to B-A
print(B.difference(A))

{'d', 'a', 'b'}
{'g', 'f'}

### **5. difference_update() method**

In [101]:
A = {'a', 'c', 'g', 'd'}
B = {'c', 'f', 'g'}

print('A before (A - B) =', A)

A.difference_update(B)

print('A after (A - B) = ', A)

A before (A - B) = {'d', 'a', 'c', 'g'}
A after (A - B) =  {'d', 'a'}

### **6. discard() method**

In [102]:
numbers = {2, 3, 4, 5}

# discards 3 from the set
numbers.discard(3)

print('Set after discard:', numbers)

Set after discard: {2, 4, 5}

In [103]:
#Python Set discard with a non-existent item()

numbers = {2, 3, 5, 4}
print('Set before discard:', numbers)

# discard the item that doesn't exist in set
numbers.discard(10)

print('Set after discard:', numbers)

Set before discard: {2, 3, 4, 5}
Set after discard: {2, 3, 4, 5}

### **7. intersection() method**

In [104]:
# 7. intersection() method

A={1,2,3,4,5,6}
B={2,4,6,8}
C={1,3,5,6,7}

# intersection using intersection()
print(f"Intersection of A and B: {A.intersection(B)}")
print(f'Intersection of A, B and c: {C.intersection(A,B)}')

Intersection of A and B: {2, 4, 6}
Intersection of A, B and c: {6}

In [105]:
A = {100, 7, 8}
B = {200, 4, 5}
C = {300, 2, 3}
D = {100, 200, 300}

print(A.intersection(D))
print(B.intersection(D))
print(C.intersection(D))
print(A.intersection(B, C, D))

{100}
{200}
{300}
set()

### **8. intersection_update() method**

In [106]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5, 6}
C = {4, 5, 6, 9, 10}

# performs intersection between A, B and C and updates the result to set A
A.intersection_update(B, C)

print('A =', A)
print('B =', B)
print('C =', C)

A = {4}
B = {2, 3, 4, 5, 6}
C = {4, 5, 6, 9, 10}

### **9. isdisjoint() method**

In [107]:
A = {1, 2, 3}
B = {4, 5, 6}
C = {6, 7, 8}

print('A and B are disjoint:', A.isdisjoint(B))
print('B and C are disjoint:', B.isdisjoint(C))

A and B are disjoint: True
B and C are disjoint: False

In [108]:
# create a set A
A = {'a', 'e', 'i', 'o', 'u'}

# create a list B
B = ['d', 'e', 'f']

# create two dictionaries C and D
C = {1 : 'a', 2 : 'b'}
D = {'a' : 1, 'b' : 2}

# isdisjoint() with set and list
print('A and B are disjoint:', A.isdisjoint(B))

# isdisjoint() with set and dictionaries
print('A and C are disjoint:', A.isdisjoint(C))
print('A and D are disjoint:', A.isdisjoint(D))

A and B are disjoint: False
A and C are disjoint: True
A and D are disjoint: False

### **10. issubset() method**

In [109]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

# all items of A are present in B
print(A.issubset(B))

True

In [110]:
A = {'a', 'c', 'e'}
B = {'a', 'b', 'c', 'd', 'e'}

print('A is subset of B:', A.issubset(B))
print('B is subset of A:', B.issubset(A))

A is subset of B: True
B is subset of A: False

### **11. issuperset() method**

In [111]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}


print(A.issuperset(B))

print(B.issuperset(A))

print(C.issuperset(B))

True
False
True

### **12. pop() method**

In [112]:
A = {'10', 'Ten', '100', 'Hundred'}

# removes random item of set A
print('Pop() removes:', A.pop())

# updates A to new set without the popped item
print('Updated set A:', A)

Pop() removes: Hundred
Updated set A: {'100', '10', 'Ten'}

In [113]:
# empty set
A ={}

# throws an error
print(A.pop())

TypeError: pop expected at least 1 argument, got 0

### **13. remove() method**

In [6]:
# language set
language = {'English', 'French', 'German'}

# removing 'German' from language
language.remove('German')

# Updated language set
print('Updated language set:', language)

Updated language set: {'English', 'French'}

In [7]:
# animal set
animal = {'cat', 'dog', 'rabbit', 'guinea pig'}

# Deleting 'fish' element
animal.remove('fish')

# Updated animal
print('Updated animal set:', animal)

KeyError: 'fish'

### **14. symmetric_difference() method**

In [8]:
# 14. symmetric_difference() method

A={1,2,3,4,5}
B={2,4,6,8}

# symmetric difference using symmetric_difference()
print(f"Symmetric Difference of A and B: {A.symmetric_difference(B)}")

Symmetric Difference of A and B: {1, 3, 5, 6, 8}

In [9]:
# create two sets A and B
A = {'Python', 'Java', 'Go'}
B = {'Python', 'JavaScript', 'C' }

print('Original Set A:', A)

# symmetric difference using symmetric_difference()
print(f'Updated Set A: {A.symmetric_difference(B)}')
print(A)

Original Set A: {'Go', 'Python', 'Java'}
Updated Set A: {'C', 'Go', 'JavaScript', 'Java'}
{'Go', 'Python', 'Java'}

### **15. symmetric_difference_update() method**

In [10]:
A={1,2,3,4,5}
B={2,4,6,8}

print(f'Original Set A: {A}')

# updates A with the symmetric difference of A and B
A.symmetric_difference_update(B)

print(f"Updated Set A: {A}")

Original Set A: {1, 2, 3, 4, 5}
Updated Set A: {1, 3, 5, 6, 8}

In [11]:
# create two sets A and B
A = {'Python', 'Java', 'Go'}
B = {'Python', 'JavaScript', 'C' }

print('Original Set A:', A)

# updates A with the symmetric difference of A and B
A.symmetric_difference_update(B)

print(f'Updated Set A: {A}')

Original Set A: {'Go', 'Python', 'Java'}
Updated Set A: {'C', 'Go', 'JavaScript', 'Java'}

### **16. union() method**

In [12]:
# 16. Union() method

A={2,4,6,8}
B={3,4,7,9}

#union using union()
print(f"Union of A and B: {A.union(B)}")

Union of A and B: {2, 3, 4, 6, 7, 8, 9}

In [13]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))

print('A.union() =', A.union())

A U B = {'d', 2, 'a', 'c'}
B U C = {1, 2, 'd', 3, 'c'}
A U B U C = {1, 'd', 2, 3, 'a', 'c'}
A.union() = {'c', 'a', 'd'}

### **17. update() Method**

In [14]:
A={1,2,3,4}
B={5,6,7}
C={9}

print(f"Original A: {A}")

#adds items of B and C to A
A.update(B,C)

print(f"A after update(): {A}")

Original A: {1, 2, 3, 4}
A after update(): {1, 2, 3, 4, 5, 6, 7, 9}

In [15]:
#string
alphabet='odd'

#sets
number1={1,3,5,7}
number2={6,2}

#dictionary
key_value={'key':8, 'lock':9}

#add string elements to the sets
number1.update(alphabet)
#add dictionary to the sets
number2.update(key_value)

print(f"Set and strings: {number1}")
print(f'Set and dictionary: {number2}')

Set and strings: {'o', 1, 'd', 3, 5, 7}
Set and dictionary: {'key', 2, 'lock', 6}