<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Tuple1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

# **Accessing Tuple Elements**

In [ ]:
mixed_tuple=(1,'Hello World',3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
numbers=tuple([1,2,3,4,5,6])
numbers
print(numbers)

print(numbers[2])
print(numbers[-1])
print(numbers[0:4])
print(numbers[::-1])

(1, 2, 3, 4, 5, 6)
3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

# **Tuple Operations**

In [ ]:
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [ ]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [ ]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

# **Immutable Nature of Tuples**

In [ ]:
lst=[1,2,3,4,5]
print(lst)

lst[1]='Krish'
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [ ]:

type(numbers)

tuple

In [ ]:
numbers[1]='Krish'

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

# **Tuple Methods**

In [ ]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

# **Packing and Unpacking Tuples**

In [ ]:
# packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
#unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
# Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

# **Nested Tuple**

In [ ]:
#Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst[0][0:3])

#Nested Tuple
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

[1, 2, 3]

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

# **Practical Examples**

In [ ]:
# iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False