<a href="https://colab.research.google.com/github/shrybhrdwj/TheCodeStreak/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create a Python Tuple
numbers = (1,2,-5)
print(numbers)

(1, 2, -5)

In [3]:
#Create a Tuple using tuple() constructor
tuple_constructor = ('Jack', 'Maria', 'David')
print(tuple_constructor)

('Jack', 'Maria', 'David')

In [4]:
#Create an empty tuple
empty_tuple = ()
print(empty_tuple)

()

In [5]:
'''Tuple of Different Data Types'''
#tuple of string types
names = ('Jack', 'Maria', 'David', 'Eva')
print(names)
#tuple of float types
float_values = (1.2,3.4,6.5)
print(float_values)

('Jack', 'Maria', 'David', 'Eva')
(1.2, 3.4, 6.5)

In [6]:
'''Tuple of mixed data types'''
#tuple including string and integer
mixed_tuple = (2,'Hello','Python',4.2)
print(mixed_tuple)

(2, 'Hello', 'Python', 4.2)

In [7]:
'''Access Tuple Items'''
#access items using index
languages= ('Python','Swift','C++')
print(languages[0])
print(languages[2])

Python
C++

In [8]:
#Tuple cannot be modified
cars = ('BMW','Tesla','Ford','Toyota')
cars[0] = 'Nissan'
print(cars)

TypeError: 'tuple' object does not support item assignment

In [9]:
#Python Tuple length
cars = ('BMW','Tesla','Ford','Toyota')
print('Total items = ',len(cars))

Total items =  4

In [10]:
#Iterate through a tuple
cars = ('BMW','Tesla','Ford','Toyota')
for car in cars:
  print(car)

BMW
Tesla
Ford
Toyota

In [11]:
#Check if an item exists in the tuple
colors = ('red', 'orange','blue')
print('Yellow' in colors)
print('red' in colors)
print('orange' not in colors)

False
True
False

In [14]:
#Delete tuples
animals = ('dog','cat','rat')
del animals